* {
      margin: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}
    
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, #1E90FF, #000080);
    display: grid;
    place-items: center;
    
}

.calculadora{
    background-color: #2f3268;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.tela{
    grid-column: 1 / -1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #090c31;
}

.headline{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 1px 3px 1px black;
    text-transform: uppercase;
    opacity: 0;
    animation-name: aparecer;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.headline:hover{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 1px 3px 1px rgb(255, 0, 0);
    
}

#zero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover{
    background-color: #e65766;
}